*, *::before, *::after {
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
 }
html {
     height: 100%;
     font-size: 100%;
 }

 body {
     font-family: 'Open Sans';
     color: white;
     min-height: 100%;
 }

.logo {
     display: table-cell;
     position: relative;
     height: 100%;
     vertical-align: middle;
    
 }

.logo img{
    width: 50px;
}

.logo-container{
    display: table;
     position: absolute;
     top: 0;
     left: 2%;
     height: 70px;
     color: white;
     text-decoration: none;
}

.logo-container a:hover{
    font-size: 18px;
    color: rgb(233,50,117);
}

.logo-link{
    display: table-cell;
     position: relative;
     height: 100%;
     padding-left: 5%;
     padding-right: 1rem;
     vertical-align: middle;
     color: white;
     font-size: 0.625rem;
     letter-spacing: 0.05rem;
     font-weight: 700;
     text-transform: uppercase;
     text-decoration: none;
     cursor: pointer;
    font-size: 14px;
}

.main-page-links-container {
     display: table;
     position: absolute;
     top: 0;
     right: 0;
     height: 100px;
     color: white;
     text-decoration: none;
 }

 .main-page-links-container .main-page-navbar-link {
     display: table-cell;
     position: relative;
     height: 100%;
     padding-left: 1rem;
     padding-right: 1rem;
     vertical-align: middle;
     color: white;
     font-size: 0.625rem;
     letter-spacing: 0.05rem;
     font-weight: 700;
     text-transform: uppercase;
     text-decoration: none;
     cursor: pointer;
 }

.profile{
     display: table-cell;
     position: relative;
     height: 100%;
     padding-left: 1rem;
     padding-right: 1rem;
     vertical-align: middle;
     color: white;
     font-size: 0.8rem;
     letter-spacing: 0.07rem;
     font-weight: 700;
     /* #3 */
     text-decoration: none;
     cursor: pointer;
    text-shadow: 1px 1px 0px rgb(58,23,63);
}

.icon{
    padding-left: .3em;
}
 .main-page-links-container .main-page-navbar-link:hover {
     color: rgb(233,50,117);
     font-size: 14px;
 }

.main-page-navbar-link:active{
     background-color:white;
}
 .container {
     margin: 0 auto;
     max-width: 64rem;
 }

.container.narrow {
     max-width: 56rem;
 }


.navbar {
    position: relative;
     padding: 1.5rem;
     background-color: #F99186;
     z-index: 1;
    height: 70px;

}

#

.navbar .logo {
    position: relative;
    left: 2rem;
    cursor: pointer;  
 }
 
 .navbar .links-container {
     display: table;
     position: absolute;
     top: 0;
     right: 0;
     height: 70px;
     color: white;

     text-decoration: none;
 }
 
 .links-container .navbar-link {
     display: table-cell;
     position: relative;
     height: 100%;
     padding-left: 1rem;
     padding-right: 1rem;

     vertical-align: middle;
     color: white;
     font-size: 14px;
     letter-spacing: 0.05rem;
     font-weight: 700;
     text-transform: uppercase;
     text-decoration: none;
     cursor: pointer;
 }
 

 .links-container .navbar-link:hover {
     color: rgb(233,50,117);
 }

.navbar-link:active{
     background-color:white;
}

 @media (min-width: 640px)
 {
   html { font-size: 112%; }

 }


 @media (min-width: 1024px) {
   html { font-size: 120%; }


  .column {
         float: left;
         padding-left: 1rem;
         padding-right: 1rem;
     }

 .column.full { width: 100%; }
     .column.two-thirds { width: 66.7%; }
     .column.half { width: 50%; }
     .column.third { width: 33.3%; }
     .column.fourth { width: 25%; }
     .column.flow-opposite { float: right; }
}
.clearfix::before,
.clearfix::after {
   content: " ";
   display: table;
}

.clearfix::after {
   clear: both;
}
